#parse("shared/publicTop.vm")
<script src="${rc.contextPath}/static/outSource/ggwfPublic.js"></script>
<script src="${rc.contextPath}/static/outSource/outSourceStep07.js"></script>
<script src="${rc.contextPath}/static/outSource/wf_public2.js"></script>
<div class="page-header">
	<h3 id="outSourceName"></h3>
</div>
<div class="panel-body">
	<div id="toolbar" class="btn-group">
		<strong style="margin-left: 10px;">价格总计:</strong><span id="pricesum">数据加载中,请稍侯...</span>
	</div>
	<table id="tb_departments"></table>
	<div id="accessText" style="margin-bottom: 2%;"></div>
	<div>
	    <span id="OutBtn" class=" btn btn-sm btn-default " style="display:none">审核完成(填写完成)</span>
	    <span id="BackOutBtn" class="btn btn-sm btn-default " style="display:none">本地测试按钮</span>
	</div>
	<div class="modal-footer" style="display:none" >
	    <a href="javascript:;" class="btn btn-info FV_submit">提交</a>
	    <!-- <input type="hidden" id="BusinessCode" value="$!{applyCode}">
	    <input type="hidden" id="FormRegistUser" name="FormRegistUser"/>
	    <input type="hidden" id="agencyCode" value="$!{resultBean.data.staff.employment.agencyCode}"/>
	    <input type="hidden" id="specialDepartmentCode" value="$!{specialDepartmentCode}"/> -->
	</div>
</div>
<script type="text/javascript">
    document.domain = "oa.gyyx.cn";  //同域
    function getheight() {
        $(window.parent.document).contents().find("#Iframe").css("height", ($(".form_validate").height()) + 100 + "px");
    }
    $(function () {
        $(document).audit();
        //隐藏工作流审批页默认的审批意见框 #approveComments
        $(window.parent.document).contents().find('#approveComments').css("display","none");
    });
</script>
</body>
</html>