#parse("shared/publicTop1.vm")
<script src="${rc.contextPath}/static/outSource/ggwfPublic.js"></script>
<script src="${rc.contextPath}/static/outSource/outSourceStep11.js"></script>
<script src="http://oa.gyyx.cn/Script/jquery.OASearch.js"></script>
<div class="panel-body" style="padding-bottom: 0px;">
	<div class="col-sm-12">
		<div class="form-group col-sm-5">
			<label class="col-sm-3" style="line-height: 30px;">发起人：</label>
			<!-- <input type="text" class="input-sm js_initiator"/> -->
			<!--姓名选择开始-->
            <div class="col-sm-8" style="padding-left: 0;">
                <div id="OaSearchStaffEdit2" class="m-b-xs" style="overflow:visible!important;height:33px;border:1px solid #ccc;line-height:28px;float: left;width:95%;">
                    <input class="js_oaSearch input-sm" style="display:block;" type="text" />
                    <input id="Hidden1" class="js_oaSearchResult input form-control" type="hidden" />
                </div>
            </div>
            <!--姓名选择结束-->
		</div>
		<div class="form-group col-sm-3">
			<label class="col-sm-4" style="line-height: 30px;">状态：</label>
			<select class="input-sm col-sm-8 js_state">
				<option value = "0">全部</option>
				<option value = "1">待审核</option>
				<option value = "2">待审批</option>
				<option value = "3">审核未通过</option>
				<option value = "4">审批未通过</option>
				<option value = "5">待验收打分</option>
				<option value = "6">待验收审批</option>
				<option value = "7">验收审批不通过</option>
				<option value = "8">待审核金额</option>
				<option value = "9">完成</option>
				<option value = "10">待填写完成时间</option>
				<option value = "11">待重新填写完成时间</option>
				<option value = "12">废除</option>
				<option value = "15">验收垂直审批</option>
			</select>
		</div>
		<div class="form-group col-sm-4">
			<label class="col-sm-4"  style="line-height: 30px;">外包名称：</label>
			<input type="text"  class="input-sm js_outsourcingName" />
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group col-sm-7">
			<label class="col-sm-2" style="line-height:30px;margin-right: 1%;">发起时间:</label>
			<div class="input-group col-sm-9">
			    <input id="startTime" type="text" class="form-control" onclick="WdatePicker({startDate:'%y-%M-%d 9:00:00', dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'endTime\')}', autoPickDate: false ,onpicked:function(){$('.js_addAskLeave').focus();offFocusTrigger()}})" readonly="">
			    <span class="input-group-addon">—</span>
			    <input id="endTime" type="text" class="form-control" onclick="WdatePicker({startDate:'%y-%M-%d 18:00:00', dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'startTime\')}', autoPickDate: false ,onpicked:function(){$('.js_addAskLeave').focus();offFocusTrigger()}})" readonly="">
			</div>
		</div>
		<div class="form-group col-sm-1">
			<input type="button" value="查询" class="btn btn-m btn-info js_queryBtn" style="margin-left:20%"/>
		</div>
	</div>
	<table id="tb_departments"></table>
</div>
</section>
</section>
</section>
</section>
</section>

	<script type="text/javascript" src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/jquery.OASearch.js"></script>
</body>
</html>