<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 手机设备数据 -->
	<bean id="phoneDataService" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="cn.gyyx.outsource.service.mobile.game.report.MobileGameDeviceReportService"></constructor-arg>
	</bean>
</beans>
